<ng-container *ngFor="let player of players; let i = index">
  <div
    class="container my-card"
    [ngClass]="{'active': currentAnswerer === i, 'answered': playerAnswered[i], 'next': nextPass === i}">
    <div class="name">
      <mat-icon class="turn-flag" *ngIf="currentPlayer === i">
        flag
      </mat-icon>
      <div>
        {{player.name}}
      </div>
    </div>
    <div class="score">
      <input matInput type="text" size="4" [(ngModel)]="player.score">
    </div>
  </div>
</ng-container>
