@use '../../styles';

:host {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  height: styles.$control-height;
}

.container {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 4px;
  border: 0;
  @include styles.clr-regular-mixin;
}

.container.answered {
  @include styles.clr-disabled-mixin;
}

.container.active {
  @include styles.clr-accent-mixin;
  border: 4px solid black;
  margin: 0;
}

.container.next {
  @include styles.clr-accent-lighter-mixin;
}

.container > * {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 32px;
}

.container > * > * {
  margin: auto;
}

.name {
  position: relative;
  font-weight: bold;
}

input {
  background: inherit;
  color: inherit;
  border: 0;
  text-align: center;
  font-size: 32px;
}

.turn-flag {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  width: 32px;
  height: 32px;
  font-size: 32px;
  // color: styles.$foreground-secondary;
}
