@use '../../styles';

:host {
  @include styles.clr-jeopardy-mixin;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: styles.$full-font-size;
  line-height: 1.6;
  text-align: center;
  z-index: 5;
}
