// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';

$app-theme-primary: mat-palette($mat-brown);
$app-theme-accent: mat-palette($mat-green, 400, 200);
$app-theme: mat-light-theme($app-theme-primary, $app-theme-accent);
$background-jeopardy: map_get($app-theme-primary, lighter);
$foreground-jeopardy: black;

@include angular-material-theme($app-theme);

@mixin clr-disabled-mixin {
  background: map_get(map_get($app-theme, background), disabled-button);
  color: map_get(map_get($app-theme, foreground), disabled-button);
}

@mixin clr-regular-mixin {
  background: map_get(map_get($app-theme, background), card);
  color: map_get(map_get($app-theme, foreground), text);
}

@mixin clr-accent-mixin {
  background: mat-color($app-theme-accent);
  color: map_get(map_get($app-theme, foreground), text);
}

@mixin clr-accent-lighter-mixin {
  background: mat-color($app-theme-accent, lighter);
  color: map_get(map_get($app-theme, foreground), text);
}

@mixin clr-accent-darker-mixin {
  background: mat-color($app-theme-accent, darker);
  color: map_get(map_get($app-theme, foreground), text);
}

@mixin clr-primary-mixin {
  background: mat-color($app-theme-primary);
  color: map_get(map_get($app-theme, foreground), text);
}

@mixin clr-primary-lighter-mixin {
  background: map_get($app-theme-primary, lighter);
  color: map_get(map_get($app-theme, foreground), text);
}

@mixin clr-primary-darker-mixin {
  background: map_get($app-theme-primary, darker);
  color: map_get(map_get($app-theme, foreground), text);
}

@mixin clr-jeopardy-mixin {
  @include clr-regular-mixin;
  background: $background-jeopardy;
  color: $foreground-jeopardy;
}

@mixin my-card-mixin {
  border-radius: 20px;
  margin: $spacing;
  @include clr-regular-mixin;
  @include mat-elevation(2);
}

html, body { height: 100%; }
body {
  // background: black;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$spacing: 5px;
$full-font-size: 56px;

.clickable {
  cursor: pointer;
}

.my-card {
  @include my-card-mixin;
}

.header-text {
  text-align: center;
  font-size: 32px;
  line-height: 1.1;
  font-weight: bold;
  padding: 5px 10px;
}

.question-text {
  text-align: center;
  font-size: $full-font-size;
  line-height: 1.6;
  font-weight: bold;
}

$control-height: 150px;
